* {
  font-family: 'Roboto', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: repeat(1, 300px );
  gap: 20px;
}
.movie-container{
  background: rgb(223, 223, 223);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 3px 3px 5px #efefef;
}

.poster {
  max-width: 100%;
  width: 300px;

}
 input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.2em;
  border-radius: 12px;
 }
.btn-small{
  width: 100%;
  padding: 10px 0;
  background: rgb(89, 226, 9);
  font-size: 2em;
  border: none;
  box-shadow: 5px 5px 10px #444444;
  cursor: pointer;
  border-radius: 12px;
}
.btn-small:hover {
  background: rgba(122, 230, 60, 0.979);
}
.btn-small:active {
  box-shadow: 2px 2px 2px #444444;
 

}


