* {
  font-family: 'Roboto', sans-serif;
}
/* container grid  */
.container{
  display: grid;
  grid-template-columns: repeat(1, 300px );
  gap: 20px;
}
.movie-container{
  background: rgb(247, 247, 247);
  padding: 10px;
  box-shadow: 3px 3px 5px #fdfdfd;
  transition: opacity 2s;
}
.movie-title {
  text-align: center;
}
.poster {
  max-width: 100%;
  width: 300px;
  box-shadow: 5px 5px 5px #444444;

}
 input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.2em;
  
 }
.btn-small{
  width: 100%;
  padding: 10px 0;
  background: rgb(7, 89, 167);
  font-size: 2em;
  color: #efefef;
  border: none;
  box-shadow: 3px 3px 4px #444444;
  cursor: pointer;
  
}
.btn-small:hover {
  background: rgb(36, 100, 160);
}
.btn-small:active {
  box-shadow: 2px 2px 2px #444444;
}

.year { 
  font-weight: 900;
}
.ratings::after{
  content: "%";
  color:rgb(206, 144, 11);
}
.fa-star {
  color:rgb(206, 144, 11);
}


