* {
  font-family: 'Roboto', sans-serif;
}
/* container grid  */
.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr );
  gap: 20px;
}
.movie-container{
  background: rgb(247, 247, 247);
  padding: 10px;
  box-shadow: 3px 3px 5px #fdfdfd;
  transition: opacity 2s;
}
.input-container {
  background: rgb(243, 243, 243);
  height: 100px;
  
  padding: 10px 0;
}
.movie-title {
  text-align: center;
  color: #c09e08;
  text-shadow: 1px 1px #1b1b1b;
  font-size: 2.9em;
}
.movie-title a {
 color: #c09e08;
 text-decoration: none;
 text-shadow: 1px 1px #1b1b1b;
}

.underlined {
  color: darkred;
  text-decoration: underline;
  
}
.poster  {
  max-width: 100%;
  width: 300px;
  box-shadow: 5px 5px 5px #444444;
}
.movie_poster{
  width: 100%;
  max-width: 400px;
  box-shadow: 5px 5px 5px #444444;
}
.movie-summary {
  padding: 5px;
  text-align: justify;
  
}
 input {
  margin-top: 25px;
  width: 98%;
  padding: 10px 0;
  margin-left: 2px;
  font-size: 1.4em;
  text-align: center; 
 }
 input:focus{
   border: 2px solid #075181;
 }
.btn-small{
  width: 100%;
  padding: 10px 0;
  background: rgb(7, 89, 167);
  font-size: 2em;
  color: #efefef;
  border: none;
  box-shadow: 3px 3px 4px #444444;
  cursor: pointer;
  
}
.btn-small:hover {
  background: rgb(36, 100, 160);
}
.btn-small:active {
  box-shadow: 2px 2px 2px #444444;
}
.year { 
  font-weight: 900;
}
/* .ratings::after{
  content: "%";
  color:rgb(206, 144, 11);
} */

.rating{
  height: 50px;
  background: rgb(51, 51, 51);
}
.fa-star {
  color:rgb(206, 144, 11);
}
iframe{
  width: 100%;
  max-width: 600px;
  border: none;
}